@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #000;
  background-image: url("../img/background-2000x1086.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body .gradient {
  position: fixed;
  background: linear-gradient(45deg, #159957, #155799);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  top: 0;
}

body .content {
  position: relative;
  z-index: 10;
}

body .content .weee {
  display: block;
  text-align: center;
}

body .content .weee > h1 {
  font-size: 36px;
  color: white;
  display: inline-block;
  border-bottom: 2px solid white;
}
